@import "tailwindcss";

@theme {
  --color-navy: #292940;
  --color-yelo: #F5A446;
  --color-gra: #E2E6EE;
}

@font-face {
  font-family: 'Tharu Digital Sansala';
  src: url('/TharuDigitalSansala.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sansala: 'Tharu Digital Sansala', sans-serif;
}