@import "tailwindcss";

@theme {
  --color-navy: #292940;
  --color-yelo: #F5A446;
  --color-gra: #E2E6EE;
}

@font-face {
  font-family: 'Tharu Digital Sansala';
  src: url('/tharu_digital_sansala.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sansala: 'Tharu Digital Sansala', sans-serif;
}

@font-face {
  font-family: 'Tharu Digital Mahee';
  src: url('/tharu_digital_mahee.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-mahee: 'Tharu Digital Mahee', sans-serif;
}

@font-face {
  font-family: 'Iskoola Pota Regular';
  src: url('/Iskoola%20Pota%20Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-iskoola: 'Iskoola Pota Regular', sans-serif;
}